In [2]:
import os
import random

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Compile all energy consumption data into single CSV File

In [161]:
def resample_to_1hour(df, LCLid):
  """
    This function eliminates gaps in between the time-series interval, 
    then resample the data to 1-hour interval

    Accept: A Dataframe Object; String value of household id
    Returns: A Dataframe Object
  """

  # drop all Null values readings, assuming it's the error of smart meters
  df = df.drop(df[df['energy(kWh/hh)'] == 'Null'].index, axis=0)

  # convert energy to appropriate data types
  df['energy(kWh/hh)'] = df['energy(kWh/hh)'].astype('float32')

  # convert the time-series interval to 30 minutes to avoid gaps in between
  df = df.set_index('tstp').asfreq('30min')
  df['LCLid'] = df['LCLid'].fillna(LCLid)
  df['energy(kWh/hh)'] = df['energy(kWh/hh)'].fillna(df['energy(kWh/hh)'].median())

  # resample the data to 1-hour by summation 
  df = df.resample('60min').sum(numeric_only=True).reset_index()
  df['LCLid'] = LCLid

  return df


CONSUMPTION_DIR = "data\\halfhourly_dataset\\halfhourly_dataset"
blocks = []

for file in os.listdir(CONSUMPTION_DIR):
  print(f"Processing {file}...")
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])
  LCLids = block['LCLid'].unique()
  
  resampled_household_dfs = []
  for LCLid in LCLids:
    grp_obj = block.groupby(['LCLid'])
    single_household_df = grp_obj.get_group(LCLid)
    
    # resample to 1-hour interval
    resampled_household_df = resample_to_1hour(single_household_df, LCLid)
    resampled_household_dfs.append(resampled_household_df)
  
  resampled_block = pd.concat(resampled_household_dfs)
  blocks.append(resampled_block)

final_block = pd.concat(blocks)

Processing block_0.csv...
Processing block_1.csv...
Processing block_10.csv...
Processing block_100.csv...
Processing block_101.csv...
Processing block_102.csv...
Processing block_103.csv...
Processing block_104.csv...
Processing block_105.csv...
Processing block_106.csv...
Processing block_107.csv...
Processing block_108.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_109.csv...
Processing block_11.csv...
Processing block_110.csv...
Processing block_111.csv...
Processing block_12.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_13.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_14.csv...
Processing block_15.csv...
Processing block_16.csv...
Processing block_17.csv...
Processing block_18.csv...
Processing block_19.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_2.csv...
Processing block_20.csv...
Processing block_21.csv...
Processing block_22.csv...
Processing block_23.csv...
Processing block_24.csv...
Processing block_25.csv...
Processing block_26.csv...
Processing block_27.csv...
Processing block_28.csv...
Processing block_29.csv...
Processing block_3.csv...
Processing block_30.csv...
Processing block_31.csv...
Processing block_32.csv...
Processing block_33.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_34.csv...
Processing block_35.csv...
Processing block_36.csv...
Processing block_37.csv...
Processing block_38.csv...
Processing block_39.csv...
Processing block_4.csv...
Processing block_40.csv...
Processing block_41.csv...
Processing block_42.csv...
Processing block_43.csv...
Processing block_44.csv...
Processing block_45.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_46.csv...
Processing block_47.csv...
Processing block_48.csv...
Processing block_49.csv...
Processing block_5.csv...
Processing block_50.csv...
Processing block_51.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_52.csv...
Processing block_53.csv...
Processing block_54.csv...
Processing block_55.csv...
Processing block_56.csv...
Processing block_57.csv...
Processing block_58.csv...
Processing block_59.csv...
Processing block_6.csv...
Processing block_60.csv...
Processing block_61.csv...
Processing block_62.csv...
Processing block_63.csv...
Processing block_64.csv...
Processing block_65.csv...
Processing block_66.csv...
Processing block_67.csv...
Processing block_68.csv...
Processing block_69.csv...
Processing block_7.csv...
Processing block_70.csv...
Processing block_71.csv...
Processing block_72.csv...
Processing block_73.csv...
Processing block_74.csv...
Processing block_75.csv...
Processing block_76.csv...
Processing block_77.csv...
Processing block_78.csv...
Processing block_79.csv...
Processing block_8.csv...
Processing block_80.csv...
Processing block_81.csv...
Processing block_82.csv...
Processing block_83.csv...
Processing block_84.csv...
Processing block_85.csv...
Processing block_86.csv...
Processing block_87.csv...
Processing block_88.csv...
Processing block_89.csv...
Processing block_9.csv...

C:\Users\Usrer\AppData\Local\Temp\ipykernel_8596\1290156599.py:33: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  block = pd.read_csv(f"{CONSUMPTION_DIR}\\{file}", parse_dates=['tstp'])

Processing block_90.csv...
Processing block_91.csv...
Processing block_92.csv...
Processing block_93.csv...
Processing block_94.csv...
Processing block_95.csv...
Processing block_96.csv...
Processing block_97.csv...
Processing block_98.csv...
Processing block_99.csv...

In [162]:
final_block.shape

(84138156, 3)

In [163]:
final_block.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84138156 entries, 0 to 15540
Data columns (total 3 columns):
 #   Column          Dtype
---  ------          -----
 0   tstp            datetime64[ns]
 1   energy(kWh/hh)  float32
 2   LCLid           object
dtypes: datetime64[ns](1), float32(1), object(1)
memory usage: 2.2+ GB

In [165]:
final_block.to_csv("cleaned_data\\resampled_integrated_blocks.csv", index=False)

### Re-construct ACORN dataset

In [5]:
acorn = pd.read_csv("data\\acorn_details.csv", encoding='ISO-8859-1')

acorn['concat_attributes'] = acorn[['MAIN CATEGORIES', 'CATEGORIES', 'REFERENCE']].agg('_'.join, axis=1)
acorn

,MAIN CATEGORIES,CATEGORIES,REFERENCE,ACORN-A,ACORN-B,ACORN-C,ACORN-D,ACORN-E,ACORN-F,ACORN-G,...,ACORN-I,ACORN-J,ACORN-K,ACORN-L,ACORN-M,ACORN-N,ACORN-O,ACORN-P,ACORN-Q,concat_attributes
0,POPULATION,Age,Age 0-4,77.0,83.0,72.0,100.0,120.0,77.0,97.0,...,63.0,119.0,67.0,114.0,113.0,89.0,123.0,138.0,133.0,POPULATION_Age_Age 0-4
1,POPULATION,Age,Age 5-17,117.0,109.0,87.0,69.0,94.0,95.0,102.0,...,67.0,95.0,64.0,108.0,116.0,86.0,89.0,136.0,106.0,POPULATION_Age_Age 5-17
2,POPULATION,Age,Age 18-24,64.0,73.0,67.0,107.0,100.0,71.0,83.0,...,62.0,104.0,459.0,97.0,96.0,86.0,117.0,109.0,110.0,POPULATION_Age_Age 18-24
3,POPULATION,Age,Age 25-34,52.0,63.0,62.0,197.0,151.0,66.0,90.0,...,63.0,132.0,145.0,109.0,96.0,90.0,140.0,120.0,120.0,POPULATION_Age_Age 25-34
4,POPULATION,Age,Age 35-49,102.0,105.0,91.0,124.0,118.0,93.0,102.0,...,76.0,111.0,67.0,99.0,98.0,90.0,102.0,103.0,100.0,POPULATION_Age_Age 35-49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
821,LEISURE TIME,Holiday Destination/Type,Asia,171.0,137.0,94.0,220.0,196.0,69.0,122.0,...,72.0,97.0,124.0,73.0,57.0,49.0,96.0,113.0,63.0,LEISURE TIME_Holiday Destination/Type_Asia
822,LEISURE TIME,Holiday Destination/Type,Activity / Outdoor Sports,298.0,278.0,138.0,119.0,93.0,96.0,113.0,...,84.0,96.0,56.0,48.0,48.0,46.0,23.0,23.0,23.0,LEISURE TIME_Holiday Destination/Type_Activity...
823,LEISURE TIME,Holiday Destination/Type,Cruise,272.0,295.0,272.0,44.0,44.0,70.0,70.0,...,70.0,70.0,28.0,28.0,28.0,28.0,49.0,49.0,49.0,LEISURE TIME_Holiday Destination/Type_Cruise
824,LEISURE TIME,Holiday Destination/Type,Package,196.0,186.0,166.0,49.0,49.0,101.0,101.0,...,106.0,101.0,48.0,75.0,75.0,75.0,54.0,54.0,54.0,LEISURE TIME_Holiday Destination/Type_Package
825,LEISURE TIME,Holiday Destination/Type,Self-catering,308.0,181.0,181.0,55.0,55.0,127.0,147.0,...,113.0,166.0,44.0,44.0,44.0,33.0,32.0,35.0,35.0,LEISURE TIME_Holiday Destination/Type_Self-cat...

In [6]:
ACORNS = acorn.drop(['MAIN CATEGORIES', 'CATEGORIES', 'REFERENCE'], axis=1).columns

temp = pd.melt(
  acorn,
  id_vars='concat_attributes',
  value_vars=ACORNS
)
temp

                                       concat_attributes variable  value
0                                 POPULATION_Age_Age 0-4  ACORN-A   77.0
1                                POPULATION_Age_Age 5-17  ACORN-A  117.0
2                               POPULATION_Age_Age 18-24  ACORN-A   64.0
3                               POPULATION_Age_Age 25-34  ACORN-A   52.0
4                               POPULATION_Age_Age 35-49  ACORN-A  102.0
...                                                  ...      ...    ...
14037         LEISURE TIME_Holiday Destination/Type_Asia  ACORN-Q   63.0
14038  LEISURE TIME_Holiday Destination/Type_Activity...  ACORN-Q   23.0
14039       LEISURE TIME_Holiday Destination/Type_Cruise  ACORN-Q   49.0
14040      LEISURE TIME_Holiday Destination/Type_Package  ACORN-Q   54.0
14041  LEISURE TIME_Holiday Destination/Type_Self-cat...  ACORN-Q   35.0

[14042 rows x 3 columns]

In [7]:
reconstructed_acorn = pd.pivot_table(temp, index='variable', columns='concat_attributes', values='value')
reconstructed_acorn = reconstructed_acorn.reset_index()
reconstructed_acorn.columns.name = None
reconstructed_acorn = reconstructed_acorn.rename(columns={ 'variable': 'acorn_group' })
reconstructed_acorn

,acorn_group,COMMUNITY SAFETY_Crime Survey for England_Alcohol,"COMMUNITY SAFETY_Crime Survey for England_Being attacked because of skin colour, ethnic origin or religion",COMMUNITY SAFETY_Crime Survey for England_Being mugged and robbed,COMMUNITY SAFETY_Crime Survey for England_Being physically attacked by strangers,COMMUNITY SAFETY_Crime Survey for England_Being raped,COMMUNITY SAFETY_Crime Survey for England_Breakdown of family,COMMUNITY SAFETY_Crime Survey for England_Drugs,COMMUNITY SAFETY_Crime Survey for England_Having my car stolen,COMMUNITY SAFETY_Crime Survey for England_Home being broken into,...,TRANSPORT_Public Transport Accessibility Level_6a,TRANSPORT_Public Transport Accessibility Level_6b - Excellent Access,TRANSPORT_Travel To Work_Bicycle,"TRANSPORT_Travel To Work_Bus, Minibus, Coach","TRANSPORT_Travel To Work_Car, van or motorbike (driver or passenger)",TRANSPORT_Travel To Work_On foot,TRANSPORT_Travel To Work_Other mode of travel to work,TRANSPORT_Travel To Work_Taxi,TRANSPORT_Travel To Work_Train / Tube / Tram,TRANSPORT_Travel To Work_Work mainly at or from home
0,ACORN-A,100.0,99.0,71.0,59.0,52.0,163.0,100.0,60.0,80.0,...,101.394783,124.825686,86.0,39.0,89.0,57.0,145.0,79.0,211.0,230.0
1,ACORN-B,100.0,50.0,61.0,58.0,61.0,124.0,104.0,55.0,67.0,...,8.303678,0.957011,75.0,40.0,112.0,57.0,103.0,48.0,96.0,156.0
2,ACORN-C,96.0,51.0,64.0,60.0,75.0,119.0,100.0,65.0,72.0,...,2.382118,0.281968,83.0,49.0,114.0,74.0,102.0,56.0,62.0,133.0
3,ACORN-D,82.0,109.0,100.0,78.0,85.0,103.0,81.0,85.0,88.0,...,944.616797,1159.034650,267.0,147.0,32.0,127.0,120.0,89.0,470.0,123.0
4,ACORN-E,104.0,67.0,86.0,78.0,80.0,103.0,94.0,82.0,74.0,...,176.905736,123.340777,123.0,100.0,88.0,96.0,91.0,59.0,202.0,91.0
5,ACORN-F,101.0,55.0,59.0,62.0,67.0,107.0,99.0,68.0,67.0,...,0.000000,0.000000,50.0,26.0,120.0,60.0,139.0,39.0,18.0,202.0
6,ACORN-G,98.0,105.0,94.0,91.0,89.0,96.0,97.0,100.0,103.0,...,5.657008,0.791419,79.0,75.0,112.0,77.0,88.0,76.0,83.0,89.0
7,ACORN-H,94.0,99.0,103.0,98.0,107.0,94.0,100.0,103.0,121.0,...,3.033635,1.155448,90.0,85.0,111.0,79.0,77.0,95.0,88.0,66.0
8,ACORN-I,95.0,74.0,94.0,82.0,96.0,103.0,103.0,70.0,80.0,...,10.141576,6.363259,107.0,70.0,111.0,95.0,122.0,101.0,46.0,97.0
9,ACORN-J,98.0,73.0,68.0,87.0,87.0,105.0,104.0,84.0,76.0,...,24.388747,16.050708,133.0,91.0,102.0,115.0,78.0,86.0,86.0,68.0
10,ACORN-K,108.0,168.0,124.0,121.0,112.0,93.0,89.0,50.0,106.0,...,755.201120,1065.516133,152.0,199.0,54.0,240.0,107.0,107.0,164.0,87.0
11,ACORN-L,103.0,136.0,112.0,116.0,107.0,86.0,102.0,138.0,109.0,...,14.745657,0.393546,76.0,107.0,106.0,118.0,102.0,142.0,54.0,65.0
12,ACORN-M,108.0,122.0,135.0,135.0,135.0,88.0,106.0,131.0,121.0,...,2.316719,0.714857,94.0,108.0,108.0,106.0,82.0,133.0,45.0,69.0
13,ACORN-N,111.0,92.0,124.0,118.0,125.0,84.0,104.0,178.0,118.0,...,25.623782,17.447114,105.0,119.0,101.0,123.0,121.0,157.0,45.0,85.0
14,ACORN-O,106.0,167.0,150.0,166.0,140.0,98.0,97.0,177.0,131.0,...,53.026304,12.501190,107.0,145.0,92.0,161.0,102.0,162.0,57.0,67.0
15,ACORN-P,95.0,166.0,153.0,163.0,149.0,77.0,100.0,184.0,152.0,...,309.403402,228.592258,130.0,212.0,74.0,120.0,93.0,157.0,187.0,50.0
16,ACORN-Q,108.0,165.0,155.0,159.0,151.0,78.0,101.0,166.0,139.0,...,102.441718,90.278749,107.0,201.0,87.0,142.0,92.0,173.0,66.0,62.0

In [8]:
reconstructed_acorn.to_csv("cleaned_data\\reconstructed_acorn.csv", index=False)

### Pre-process weather dataset

In [8]:
weather = pd.read_csv("data\\weather_hourly_darksky.csv", parse_dates=['time']).sort_values(by=['time'])
weather = weather.set_index('time').asfreq('60min')
weather.head(10)

,visibility,windBearing,temperature,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
time,,,,,,,,,,,
2011-11-01 00:00:00,13.63,160.0,13.49,11.48,1008.14,13.49,3.11,rain,clear-night,0.88,Clear
2011-11-01 01:00:00,13.26,154.0,12.73,11.58,1007.88,12.73,3.08,rain,partly-cloudy-night,0.93,Partly Cloudy
2011-11-01 02:00:00,12.94,161.0,13.65,12.14,1007.09,13.65,3.71,rain,clear-night,0.91,Clear
2011-11-01 03:00:00,12.99,170.0,14.13,12.24,1006.50,14.13,3.95,rain,partly-cloudy-night,0.88,Partly Cloudy
2011-11-01 04:00:00,12.92,180.0,14.17,12.59,1006.14,14.17,3.97,rain,partly-cloudy-night,0.90,Partly Cloudy
2011-11-01 05:00:00,13.29,187.0,14.21,12.57,1006.31,14.21,3.76,rain,partly-cloudy-night,0.90,Partly Cloudy
2011-11-01 06:00:00,10.70,224.0,13.89,12.61,1006.64,13.89,2.53,rain,partly-cloudy-night,0.92,Mostly Cloudy
2011-11-01 07:00:00,11.02,245.0,13.02,11.01,1007.15,13.02,2.49,rain,partly-cloudy-day,0.88,Mostly Cloudy
2011-11-01 08:00:00,12.21,242.0,12.48,10.54,1008.09,12.48,1.66,rain,partly-cloudy-day,0.88,Partly Cloudy
2011-11-01 09:00:00,12.59,247.0,12.16,10.61,1008.88,12.16,3.17,rain,partly-cloudy-day,0.90,Mostly Cloudy

In [9]:
weather.isna().sum()

visibility              2
windBearing             2
temperature             2
dewPoint                2
pressure               15
apparentTemperature     2
windSpeed               2
precipType              2
icon                    2
humidity                2
summary                 2
dtype: int64

In [ ]:
# forward filling method in Pandas
weather = weather.ffill()

In [12]:
# before ffill
weather.loc[(weather.index >= '2013-09-09 20:00:00') & (weather.index <= '2013-09-10 06:00:00')]

,visibility,windBearing,temperature,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
time,,,,,,,,,,,
2013-09-09 20:00:00,10.61,301.0,10.32,8.71,1018.15,10.32,2.64,rain,clear-night,0.90,Clear
2013-09-09 21:00:00,10.69,303.0,10.33,8.76,1018.15,10.33,2.77,rain,clear-night,0.90,Clear
2013-09-09 22:00:00,10.77,305.0,10.33,8.81,1018.15,10.33,2.90,rain,clear-night,0.90,Clear
2013-09-09 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-10 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013-09-10 01:00:00,10.93,308.0,10.36,8.92,1018.15,10.36,3.21,rain,clear-night,0.91,Clear
2013-09-10 02:00:00,11.01,311.0,10.21,8.73,1018.53,10.21,3.46,rain,clear-night,0.91,Clear
2013-09-10 03:00:00,10.32,307.0,9.81,8.38,1019.10,8.11,3.29,rain,clear-night,0.91,Clear
2013-09-10 04:00:00,8.79,300.0,9.71,8.37,1018.58,8.27,2.83,rain,clear-night,0.91,Clear
2013-09-10 05:00:00,9.12,298.0,9.38,7.98,1018.92,7.53,3.43,rain,clear-night,0.91,Clear
2013-09-10 06:00:00,9.29,305.0,10.24,8.61,1019.82,10.24,4.36,rain,partly-cloudy-day,0.90,Mostly Cloudy

In [14]:
# after ffill
weather.loc[(weather.index >= '2013-09-09 20:00:00') & (weather.index <= '2013-09-10 06:00:00')]

,visibility,windBearing,temperature,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
time,,,,,,,,,,,
2013-09-09 20:00:00,10.61,301.0,10.32,8.71,1018.15,10.32,2.64,rain,clear-night,0.90,Clear
2013-09-09 21:00:00,10.69,303.0,10.33,8.76,1018.15,10.33,2.77,rain,clear-night,0.90,Clear
2013-09-09 22:00:00,10.77,305.0,10.33,8.81,1018.15,10.33,2.90,rain,clear-night,0.90,Clear
2013-09-09 23:00:00,10.77,305.0,10.33,8.81,1018.15,10.33,2.90,rain,clear-night,0.90,Clear
2013-09-10 00:00:00,10.77,305.0,10.33,8.81,1018.15,10.33,2.90,rain,clear-night,0.90,Clear
2013-09-10 01:00:00,10.93,308.0,10.36,8.92,1018.15,10.36,3.21,rain,clear-night,0.91,Clear
2013-09-10 02:00:00,11.01,311.0,10.21,8.73,1018.53,10.21,3.46,rain,clear-night,0.91,Clear
2013-09-10 03:00:00,10.32,307.0,9.81,8.38,1019.10,8.11,3.29,rain,clear-night,0.91,Clear
2013-09-10 04:00:00,8.79,300.0,9.71,8.37,1018.58,8.27,2.83,rain,clear-night,0.91,Clear
2013-09-10 05:00:00,9.12,298.0,9.38,7.98,1018.92,7.53,3.43,rain,clear-night,0.91,Clear
2013-09-10 06:00:00,9.29,305.0,10.24,8.61,1019.82,10.24,4.36,rain,partly-cloudy-day,0.90,Mostly Cloudy

In [10]:
# before ffill
weather.loc[(weather['time'] >= '2012-05-07 12:00:00') & (weather['time'] <= '2012-05-07 23:00:00')][['time', 'pressure']]

                     time  pressure
5341  2012-05-07 12:00:00   1013.78
5342  2012-05-07 13:00:00   1013.65
5343  2012-05-07 14:00:00   1013.18
5344  2012-05-07 15:00:00   1012.58
5345  2012-05-07 16:00:00   1012.00
5346  2012-05-07 17:00:00   1011.64
5347  2012-05-07 18:00:00       NaN
5348  2012-05-07 19:00:00   1011.45
5349  2012-05-07 20:00:00   1011.39
5350  2012-05-07 21:00:00   1011.14
5351  2012-05-07 22:00:00   1010.59
10128 2012-05-07 23:00:00   1010.32

In [12]:
# after ffill
weather.loc[(weather['time'] >= '2012-05-07 12:00:00') & (weather['time'] <= '2012-05-07 23:00:00')][['time', 'pressure']]

                     time  pressure
5341  2012-05-07 12:00:00   1013.78
5342  2012-05-07 13:00:00   1013.65
5343  2012-05-07 14:00:00   1013.18
5344  2012-05-07 15:00:00   1012.58
5345  2012-05-07 16:00:00   1012.00
5346  2012-05-07 17:00:00   1011.64
5347  2012-05-07 18:00:00   1011.64
5348  2012-05-07 19:00:00   1011.45
5349  2012-05-07 20:00:00   1011.39
5350  2012-05-07 21:00:00   1011.14
5351  2012-05-07 22:00:00   1010.59
10128 2012-05-07 23:00:00   1010.32

In [15]:
weather.isna().sum()

visibility             0
windBearing            0
temperature            0
dewPoint               0
pressure               0
apparentTemperature    0
windSpeed              0
precipType             0
icon                   0
humidity               0
summary                0
dtype: int64

In [17]:
weather = weather.reset_index()

In [18]:
# need to add the time by 1 hour so that it can be aligned with the energy consumption
weather['shifted_time'] = weather['time'] + pd.Timedelta(hours=1)

In [19]:
weather[['shifted_time', 'time', 'summary']]

             shifted_time                time        summary
0     2011-11-01 01:00:00 2011-11-01 00:00:00          Clear
1     2011-11-01 02:00:00 2011-11-01 01:00:00  Partly Cloudy
2     2011-11-01 03:00:00 2011-11-01 02:00:00          Clear
3     2011-11-01 04:00:00 2011-11-01 03:00:00  Partly Cloudy
4     2011-11-01 05:00:00 2011-11-01 04:00:00  Partly Cloudy
...                   ...                 ...            ...
21162 2014-03-31 19:00:00 2014-03-31 18:00:00          Clear
21163 2014-03-31 20:00:00 2014-03-31 19:00:00  Partly Cloudy
21164 2014-03-31 21:00:00 2014-03-31 20:00:00  Partly Cloudy
21165 2014-03-31 22:00:00 2014-03-31 21:00:00          Clear
21166 2014-03-31 23:00:00 2014-03-31 22:00:00          Clear

[21167 rows x 3 columns]

In [22]:
weather.to_csv("cleaned_data\\cleaned_weather.csv", index=False)

### Handle Text Issues in Holiday Dataset

In [3]:
holiday = pd.read_csv("data\\uk_bank_holidays.csv", parse_dates=['Bank holidays'])
holiday.head(5)

  Bank holidays                                          Type
0    2012-12-26                                    Boxing Day
1    2012-12-25                                 Christmas Day
2    2012-08-27                           Summer bank holiday
3    2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)
4    2012-04-06          Spring bank holiday (substitute day)

In [6]:
holiday['Type'] = holiday['Type'].str.replace("?", "'", regex=False)
holiday

   Bank holidays                                          Type
0     2012-12-26                                    Boxing Day
1     2012-12-25                                 Christmas Day
2     2012-08-27                           Summer bank holiday
3     2012-05-06  Queen's Diamond Jubilee (extra bank holiday)
4     2012-04-06          Spring bank holiday (substitute day)
5     2012-07-05                        Early May bank holiday
6     2012-09-04                                 Easter Monday
7     2012-06-04                                   Good Friday
8     2012-02-01               New Year's Day (substitute day)
9     2013-12-26                                    Boxing Day
10    2013-12-25                                 Christmas Day
11    2013-08-26                           Summer bank holiday
12    2013-05-27                           Spring bank holiday
13    2013-06-05                        Early May bank holiday
14    2013-01-04                                 Easter Monday
15    2013-03-29                                   Good Friday
16    2013-01-01                                New Year's Day
17    2014-12-26                                    Boxing Day
18    2014-12-25                                 Christmas Day
19    2014-08-25                           Summer bank holiday
20    2014-05-26                           Spring bank holiday
21    2014-05-05                        Early May bank holiday
22    2014-04-21                                 Easter Monday
23    2014-04-18                                   Good Friday
24    2014-01-01                                New Year's Day

In [8]:
holiday.to_csv("cleaned_data\\holiday.csv", index=False)

### Sampling

In [9]:
info = pd.read_csv("data\\informations_households.csv")
info.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

In [3]:
final_block = pd.read_csv("cleaned_data\\resampled_integrated_blocks.csv", parse_dates=['tstp'])
info = pd.read_csv("data\\informations_households.csv")

In [4]:
# merge the dataset with information households to identify which ACORN the household belongs to
energy_info_merged = pd.merge(final_block, info, how='left', on='LCLid')

In [5]:
# randomly sample 3 households from each ACORN group 
random.seed(42) # for reproducibility

UNIQUE_ACORNS = energy_info_merged['Acorn'].unique()
SAMPLE_SIZE_HOUSEHOLD = 3
sampled_household = {}

for acorn in UNIQUE_ACORNS:
  # map the ACORN: household in dictionary
  if acorn != "ACORN-" and acorn != "ACORN-U":
    households = energy_info_merged.loc[energy_info_merged['Acorn'] == acorn]['LCLid'].unique()
    sampled_household[acorn] = random.sample(households.tolist(), SAMPLE_SIZE_HOUSEHOLD)

print(sampled_household)

{'ACORN-A': ['MAC003686', 'MAC003281', 'MAC001628'], 'ACORN-D': ['MAC005205', 'MAC004280', 'MAC002751'], 'ACORN-Q': ['MAC003134', 'MAC003792', 'MAC000695'], 'ACORN-E': ['MAC005034', 'MAC002413', 'MAC000544'], 'ACORN-B': ['MAC003903', 'MAC003445', 'MAC000897'], 'ACORN-C': ['MAC002606', 'MAC001313', 'MAC003901'], 'ACORN-F': ['MAC004400', 'MAC001124', 'MAC001660'], 'ACORN-G': ['MAC001680', 'MAC003255', 'MAC003729'], 'ACORN-H': ['MAC000340', 'MAC002669', 'MAC003389'], 'ACORN-I': ['MAC003248', 'MAC002468', 'MAC000726'], 'ACORN-J': ['MAC005485', 'MAC001814', 'MAC003238'], 'ACORN-K': ['MAC000202', 'MAC004729', 'MAC000664'], 'ACORN-L': ['MAC003972', 'MAC001323', 'MAC005439'], 'ACORN-M': ['MAC003518', 'MAC001456', 'MAC000477'], 'ACORN-N': ['MAC005511', 'MAC004493', 'MAC002758'], 'ACORN-O': ['MAC003631', 'MAC002463', 'MAC002387'], 'ACORN-P': ['MAC000617', 'MAC001072', 'MAC005344']}

In [6]:
# construct a new df based on the sampled households
sampled_dfs = []
groupby_obj = final_block.groupby('LCLid')

for acorn, household_ids in sampled_household.items():
  for household_id in household_ids:
    # filter out the desired households 
    sampled = groupby_obj.get_group(household_id)
    sampled_dfs.append(sampled)

final_sampled = pd.concat(sampled_dfs)

In [7]:
print("Sampled Dataset Row:", final_sampled.shape[0])
print("Sampled Dataset Column:", final_sampled.shape[1])

Sampled Dataset Row: 764126
Sampled Dataset Column: 3

In [8]:
# export as CSV
final_sampled.to_csv("cleaned_data\\sampled_dataset.csv", index=False)

### Joining all datasets together

In [7]:
# Start from checkpoint
reconstructed_acorn = pd.read_csv("cleaned_data\\reconstructed_acorn.csv")
info = pd.read_csv("data\\informations_households.csv")
final_sampled = pd.read_csv("cleaned_data\\sampled_dataset.csv", parse_dates=['tstp'])
weather = pd.read_csv("cleaned_data\\cleaned_weather.csv", parse_dates=['time', 'shifted_time'])

In [9]:
energy_info_merged = pd.merge(final_sampled, info, how='left', on='LCLid')
energy_info_merged = energy_info_merged.drop(['file', 'Acorn_grouped'], axis=1)
energy_info_merged.head()

                 tstp  energy(kWh/hh)      LCLid stdorToU    Acorn
0 2012-10-16 10:00:00           0.317  MAC003686      Std  ACORN-A
1 2012-10-16 11:00:00           0.801  MAC003686      Std  ACORN-A
2 2012-10-16 12:00:00           0.557  MAC003686      Std  ACORN-A
3 2012-10-16 13:00:00           0.548  MAC003686      Std  ACORN-A
4 2012-10-16 14:00:00           0.549  MAC003686      Std  ACORN-A

In [10]:
weather_energy_info_merged = pd.merge(energy_info_merged, weather, how='left', left_on='tstp', right_on='shifted_time')
weather_energy_info_merged = weather_energy_info_merged.drop(['icon', 'time', 'shifted_time'], axis=1)
weather_energy_info_merged.head()

,tstp,energy(kWh/hh),LCLid,stdorToU,Acorn,visibility,windBearing,temperature,dewPoint,pressure,apparentTemperature,windSpeed,precipType,humidity,summary
0,2012-10-16 10:00:00,0.317,MAC003686,Std,ACORN-A,13.00,238.0,11.96,6.82,1000.34,11.96,8.23,rain,0.71,Breezy and Partly Cloudy
1,2012-10-16 11:00:00,0.801,MAC003686,Std,ACORN-A,13.07,244.0,12.99,6.61,1001.13,12.99,7.94,rain,0.65,Breezy and Partly Cloudy
2,2012-10-16 12:00:00,0.557,MAC003686,Std,ACORN-A,13.52,249.0,13.59,5.70,1001.78,13.59,8.85,rain,0.59,Breezy and Partly Cloudy
3,2012-10-16 13:00:00,0.548,MAC003686,Std,ACORN-A,13.52,248.0,14.08,4.84,1002.14,14.08,8.85,rain,0.54,Breezy and Partly Cloudy
4,2012-10-16 14:00:00,0.549,MAC003686,Std,ACORN-A,13.07,241.0,14.34,4.85,1002.61,14.34,8.53,rain,0.53,Breezy and Partly Cloudy

In [11]:
final = pd.merge(weather_energy_info_merged, reconstructed_acorn, how='left', left_on='Acorn', right_on='acorn_group')
final = final.drop(['acorn_group'], axis=1)
final.head(5)

,tstp,energy(kWh/hh),LCLid,stdorToU,Acorn,visibility,windBearing,temperature,dewPoint,pressure,...,TRANSPORT_Public Transport Accessibility Level_6a,TRANSPORT_Public Transport Accessibility Level_6b - Excellent Access,TRANSPORT_Travel To Work_Bicycle,"TRANSPORT_Travel To Work_Bus, Minibus, Coach","TRANSPORT_Travel To Work_Car, van or motorbike (driver or passenger)",TRANSPORT_Travel To Work_On foot,TRANSPORT_Travel To Work_Other mode of travel to work,TRANSPORT_Travel To Work_Taxi,TRANSPORT_Travel To Work_Train / Tube / Tram,TRANSPORT_Travel To Work_Work mainly at or from home
0,2012-10-16 10:00:00,0.317,MAC003686,Std,ACORN-A,13.00,238.0,11.96,6.82,1000.34,...,101.394783,124.825686,86.0,39.0,89.0,57.0,145.0,79.0,211.0,230.0
1,2012-10-16 11:00:00,0.801,MAC003686,Std,ACORN-A,13.07,244.0,12.99,6.61,1001.13,...,101.394783,124.825686,86.0,39.0,89.0,57.0,145.0,79.0,211.0,230.0
2,2012-10-16 12:00:00,0.557,MAC003686,Std,ACORN-A,13.52,249.0,13.59,5.70,1001.78,...,101.394783,124.825686,86.0,39.0,89.0,57.0,145.0,79.0,211.0,230.0
3,2012-10-16 13:00:00,0.548,MAC003686,Std,ACORN-A,13.52,248.0,14.08,4.84,1002.14,...,101.394783,124.825686,86.0,39.0,89.0,57.0,145.0,79.0,211.0,230.0
4,2012-10-16 14:00:00,0.549,MAC003686,Std,ACORN-A,13.07,241.0,14.34,4.85,1002.61,...,101.394783,124.825686,86.0,39.0,89.0,57.0,145.0,79.0,211.0,230.0

In [12]:
final['date'] = final['tstp'].dt.date.astype('datetime64') # for joining tables
final = pd.merge(final, holiday, how='left', left_on='date', right_on='Bank holidays')

In [13]:
final[['tstp', 'date', 'Bank holidays', 'Type']]

                      tstp       date Bank holidays Type
0      2012-10-16 10:00:00 2012-10-16           NaT  NaN
1      2012-10-16 11:00:00 2012-10-16           NaT  NaN
2      2012-10-16 12:00:00 2012-10-16           NaT  NaN
3      2012-10-16 13:00:00 2012-10-16           NaT  NaN
4      2012-10-16 14:00:00 2012-10-16           NaT  NaN
...                    ...        ...           ...  ...
764121 2014-01-31 20:00:00 2014-01-31           NaT  NaN
764122 2014-01-31 21:00:00 2014-01-31           NaT  NaN
764123 2014-01-31 22:00:00 2014-01-31           NaT  NaN
764124 2014-01-31 23:00:00 2014-01-31           NaT  NaN
764125 2014-02-01 00:00:00 2014-02-01           NaT  NaN

[764126 rows x 4 columns]

In [14]:
allnull = final.isna().sum()
allnull.loc[allnull > 0]

Bank holidays    746558
Type             746558
dtype: int64

In [15]:
sliced = final[['tstp', 'date', 'Bank holidays', 'Type']]
sliced.loc[~sliced['Type'].isna()]

                      tstp       date Bank holidays            Type
1670   2012-12-25 00:00:00 2012-12-25    2012-12-25   Christmas Day
1671   2012-12-25 01:00:00 2012-12-25    2012-12-25   Christmas Day
1672   2012-12-25 02:00:00 2012-12-25    2012-12-25   Christmas Day
1673   2012-12-25 03:00:00 2012-12-25    2012-12-25   Christmas Day
1674   2012-12-25 04:00:00 2012-12-25    2012-12-25   Christmas Day
...                    ...        ...           ...             ...
763400 2014-01-01 19:00:00 2014-01-01    2014-01-01  New Year's Day
763401 2014-01-01 20:00:00 2014-01-01    2014-01-01  New Year's Day
763402 2014-01-01 21:00:00 2014-01-01    2014-01-01  New Year's Day
763403 2014-01-01 22:00:00 2014-01-01    2014-01-01  New Year's Day
763404 2014-01-01 23:00:00 2014-01-01    2014-01-01  New Year's Day

[17568 rows x 4 columns]

In [17]:
final['Type'] = final['Type'].fillna('No Holiday')
final = final.drop(['Bank holidays'], axis=1)

In [20]:
allnull = final.isna().sum()
allnull.loc[allnull > 0]

Series([], dtype: int64)

In [22]:
print("Dataset Row:", final.shape[0])
print("Dataset Column:", final.shape[1])

Dataset Row: 764126
Dataset Column: 843

In [21]:
final.to_csv("cleaned_data\\final_merged_dataset.csv", index=False)